@model List<EasyCardSystem.Models.CardData>
@{
    ViewBag.Title = "CardIndex";
}

    <h2>CardIndex</h2>
    <form action="" method="post">
        <input type="text" name="cardid" class="text-info ">&nbsp
        <input type="submit" value="搜尋" class="btn btn-info ">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href='@Url.Action("CardCreate" )?' class="btn btn-info">新增</a>
    </form>
    <br/>

    <table class="table table-bordered table-hover ">
        <tr class="success">
            <td>功能</td>
            <td>CardID</td>
            <td>CardDept</td>
            <td>CardName</td>
            <td>CardState</td>
            <td>CardAmount</td>

        </tr>
        @foreach (var item in Model) //C#程式碼

        {
            <tr >
                <td>
                    <a href='@Url.Action("CardEdit")?cardid=@item.CardID'>修改</a>
                    @*@Ajax.ActionLink("刪除", "CardDelete", "Card", new { cardid = item.CardID }, new AjaxOptions() { HttpMethod = "delete", Confirm = "確定要刪除這筆資料嗎?", UpdateTargetId = "indexcard" })*@
                    @*刪除並有確認視窗*@
                    @Html.ActionLink("刪除", "CardDelete", new { cardid = item.CardID }, new { onclick = "return confirm('確定刪除這筆資料嗎?');" })
                    </td>
                    <td>@item.CardID</td>
                    <td>@item.CardDept</td>
                    <td>@item.CardName</td>
                    <td>@item.CardState</td>
                    <td>@item.CardAmount</td>

                </tr>
            }

        </table>
  